body {
  width: 96%;
  margin: auto;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hwb(0 100% 0%);
  border-radius: 5%;
  color: black;
  padding: 10px 30px;
  width: 95%;
  margin: auto;
}

.navbar-logo img {
  height: 50px;
  width: auto;
}

.navbar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu ul li {
  margin-right: 20px;
  padding: 5px 5px;
  border-radius: 1.5rem;
}

.navbar-menu ul li:last-child {
  margin-right: 0;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.navbar-menu ul li a:hover {
  color: rgb(50, 155, 9);
  background-color: hsl(0, 7%, 86%);
  padding: 5px;
  border: 1.5rem;
}

.navbar-user .user-profile {
  position: relative;
}

.navbar-user .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 100px;
  z-index: 1;
}

.navbar-user .dropdown-content a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar-user .dropdown-content a:hover {
  background-color: #555;
}

.navbar-user:hover .dropdown-content {
  display: block;
}

/* Login Button Style */
.loginBtn {
  padding: 10px 20px;
  background-color: rgb(63, 247, 56);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.loginBtn:hover {
  background-color: #d00;
}
