.proj-nav {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e1e1;
  color: rgb(7, 7, 7);
  padding: 5px 15px;
  border-radius: 1.5rem;
  margin-bottom: 1%;
}

.search-filter {
  display: flex;
  flex-wrap: row wrap-reverse;
  justify-content: flex-end;
}

.search-bar {
  padding: 5px 5px;
  border-radius: 1.5rem;
}

.filter-button {
  background-color: #46f563;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 1.5rem;
  cursor: pointer;
}

.create-link {
  width: 62%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1.5rem;
  color: black;
  text-decoration: none;
}

.create-link a {
  background-color: #e4e1e1;
  padding: 10px 17px;
  border-radius: 1.5rem;
  text-decoration: none;
}

.create-link a:hover {
  cursor: pointer;
  background-color: rgb(195, 255, 235);
}

.project-container {
  width: 60%;
  margin: auto;
  overflow: hidden;
  padding: 15px 15px;
  border-radius: 2rem;
}

.project-container a {
  text-decoration: none;
  color: black;
}

.project-container :hover {
  background-color: #e4e4e4;
  padding: 15px 15px;
  border: 2rem;
  cursor: pointer;
}

.projectDetails {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}

.project img {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.project-description {
  flex: 1;
}
