{% extends 'base/main.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="landing">
      <div class="landing-content">
        <h2>
          <b>Jenga</b><br />
          Where construction dreams meet reality! Whether you're a homeowner
          embarking on a renovation project or a contractor seeking exciting
          opportunities, our platform is your one-stop destination.
        </h2>
      </div>
    </section>
    <section class="description">
      <div class="description-text">
        <h3>How do you hire the Best?</h3>
        <p>
          Forget the old ways, Forget getting referred. You can have the best
          contractors. Right here. Right now!
        </p>
      </div>
      <div class="description-img">
        <img src="{% static 'images/jenga4.jpg' %}" alt="Photo" />
      </div>
    </section>
    <section class="services">
      <h3>Available Contracts</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
        assumenda accusantium aperiam eaque accusamus. Distinctio minima
        doloribus magnam libero dignissimos vel ipsa accusamus delectus totam?
        Distinctio, modi inventore accusamus eveniet perferendis, ullam
        consectetur accusantium dicta dolorem nam alias qui, cumque excepturi
        numquam. <br />
        Saepe praesentium hic aliquam rerum magni at repellendus sed eius
        eligendi, quaerat tempore dolor voluptas minus? Dolores repudiandae
        ipsa, sed magni doloremque iure labore rem cumque beatae recusandae
        officia est non voluptatum minima.
      </p>
    </section>
    {% endblock content %}
  </body>
</html>
