{% extends 'base/main.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="landing">
      <div class="landing-content">
        <h2 class="content-h2">Jenga</h2>
        <p>
          Where construction dreams meet reality! Whether you're a homeowner
          embarking on a renovation project or a contractor seeking exciting
          opportunities, our platform is your one-stop destination.
        </p>
      </div>
    </section>
    <section class="row">
      <div class="row-div">
        <div class="textWrapper">
          <span class="headerText">How would you hire the Best?</span>
          <p>
            Forget the old ways, Forget getting referred. You can have the best
            contractors. Right here. Right now!
          </p>
          <a href="#">Get Started</a>
        </div>
        <div class="imageWrapper">
          <img src="{% static 'images/jenga4.jpg' %}" alt="Photo" />
        </div>
      </div>
    </section>
    <hr width="60%" />
    <br /><br />
    <div class="detailed-descrip">
      <h2 class="header-descrip">
        Introducing Jenga, the New construction Hub
      </h2>
      <p class="parag">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        adipisci in, amet at expedita consequatur, officia blanditiis obcaecati
        esse qui voluptatibus molestiae non culpa illum odio ad magni id
        repudiandae.
      </p>
      <p class="parag">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        adipisci in, amet at expedita consequatur, officia blanditiis obcaecati
        esse qui voluptatibus molestiae non culpa illum odio ad magni id
        repudiandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ut sequi laboriosam minus voluptas itaque consequuntur iste, harum
        placeat illum? Natus nostrum ducimus perspiciatis. Eius, accusamus
        deleniti inventore at ab maiores.
      </p>
      <p class="parag">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        adipisci in, amet at expedita consequatur, officia blanditiis obcaecati
        esse qui voluptatibus molestiae non culpa illum odio ad magni id
        repudiandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ut sequi laboriosam minus voluptas itaque consequuntur iste, harum
        placeat illum? Natus nostrum ducimus perspiciatis. Eius, accusamus
        deleniti inventore at ab maiores.
      </p>
      <p class="parag">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        adipisci in, amet at expedita consequatur, officia blanditiis obcaecati
        esse qui voluptatibus molestiae non culpa illum odio ad magni id
        repudiandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ut sequi laboriosam minus voluptas itaque consequuntur iste, harum
        placeat illum? Natus nostrum ducimus perspiciatis. Eius, accusamus
        deleniti inventore at ab maiores.
      </p>
      <p class="parag">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        adipisci in, amet at expedita consequatur, officia blanditiis obcaecati
        esse qui voluptatibus molestiae non culpa illum odio ad magni id
        repudiandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ut sequi laboriosam minus voluptas itaque consequuntur iste, harum
        placeat illum? Natus nostrum ducimus perspiciatis. Eius, accusamus
        deleniti inventore at ab maiores.
      </p>
    </div>
    <section class="choose">
      <div class="checklogo">
        <p class="text">Hire the best!</p>
        <img src="" alt="" />
      </div>
      <div class="choose-us">
        <h1>Why you should choose us.</h1>
        <div class="choose-options">
          <h2>Its FREE to join!</h2>
          <p>
            Register and browse through our collection of the best contractors
            and freelancers, and book a consultation session with our experts.
          </p>
        </div>
        <div class="choose-options">
          <h2>Its FREE to join!</h2>
          <p>
            Register and browse through our collection of the best contractors
            and freelancers, and book a consultation session with our experts.
          </p>
        </div>
        <div class="choose-options">
          <h2>Its FREE to join!</h2>
          <p>
            Register and browse through our collection of the best contractors
            and freelancers, and book a consultation session with our experts.
          </p>
        </div>
        <div class="choose-options">
          <h2>Its FREE to join!</h2>
          <p>
            Register and browse through our collection of the best contractors
            and freelancers, and book a consultation session with our experts.
          </p>
        </div>
      </div>
    </section>

    {% endblock content %}
  </body>
</html>
