{% extends 'base/main.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" />
  </head>
  <body>
    <div class="proj-nav">
      <div class="proj-title">Available Projects</div>
      <div class="search-bar">
        <input type="text" placeholder="Search..." />
      </div>
      <button class="filter-button" onclick="filterProjects()">
        Filter Projects
      </button>
    </div>
    <a href="{% url 'project' %}">Create new Project</a></br>
    <div class="project-container">
      {% for project in projects %}
      <a href="{% url 'project_detail' project.pk %}">
        <div class="projectDetails">
          {% if project.image %}
          <img src="{{ project.image.url }}" alt="Project Image" />
          <div class="project-description">
            <small>{{ project.created_at.date }}   |   {{ project.location }}</small>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
          </div>
          {% else %}
          <div class="project-description">
            <small>{{ project.created_at.date }}   |   {{ project.location }}</small>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
          </div>
        </div>
      </a>
        {% endif %}
      {% endfor %}
    </div>
    {% endblock content %}
  </body>
</html>
