<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'base/main.html' %} {% block content %}
    <h1>Projects</h1>
    <a href="{% url 'project' %}">Create</a></br>
    {% for project in projects %}
    <small>{{ project.created_at.date }} | {{ project.location }} </small>
    <li>{{ project.title }} </br> {{ project.description | slice:":50" }}...</li>

    {% endfor %}
    {% endblock content %}
  </body>
</html>
